<!DOCTYPE html>
<html>
  <head>
    <title>BlogApp</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>

    <%= render "partials/user", user: @user %>

    <div class="bio">
        <h3>Bio</h3>
        <p><%=@user.bio%></p>
    </div>


    <% @posts.each do |post| %>
    <%= link_to  @id + '/posts/' + post.id.to_s, :remote => true do %>
    <%= render "partials/post", post: post %>
    <% end %>
    <% end %>


    <div class="btn">
       <%= link_to @id + '/posts', :remote => true do %>
        <input type="button" class="btn btn-secondary" value="See all posts">
        <% end %>

      <%= link_to @id + '/posts/new', :remote => true do %>
        <input type="button" class="btn btn-secondary" value="Create a post">
        <% end %>
    </div>

  </body>
</html>
